{% extends "base.html" %}
{% block title %}TFLite Analyzer -- Model Details{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TFLite Analyzer</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
    <div>
        <h4 class="text-center">TFLite Model Details</h4>
        <table class="table">
            <tbody>
                <thead>
                    <tr>
                        <th>File</th>
                        <th>Version</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tr>
                    <td>{{ tflite_file_name }}</td>
                    <td>{{ model_version }}</td>
                    <td>{{ model_description }}</td>
                </tr>
            </tbody>
        </table>
        <h4 class="text-center">Operator Codes</h4>
        <table class="table">
            <tbody>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Version</th>
                        <th>Code</th>
                        <th>Name</th>
                    </tr>
                </thead>
            {% for op in model_operator_codes %}
                <tr>
                {% for i in range(op | length) %}
                    <td>{{ op[i] }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% for sg in model_sub_graphs %}
            <h4 class="text-center">SubGraph-{{ loop.index }}-{{ sg['name'] }}</h4>
            <table class="table">
                <caption>Tensors</caption>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Shape</th>
                        <th>IsVar.</th>
                        <th>Quantization</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in sg['tensors'] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ t['name'] }}</td>
                            <td>{{ t['type'] }}</td>
                            <td>{{ t['shape'] }}</td>
                            <td>{{ t['is_variable'] }}</td>
                            <td>{{ t['quantization'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table">
                <caption>Operators</caption>
                <thead>
                    <tr>
                        <th>Opcode</th>
                        <th>OpName</th>
                        <th>Cus.Op.Fmt</th>
                        <th>Inputs</th>
                        <th>Outputs</th>
                    </tr>
                </thead>
                <tbody>
                    {% for o in sg['operators'] %}
                        <tr>
                            <td>{{ o['opcode'] }}</td>
                            <td>{{ o['opname'] }}</td>
                            <td>{{ o['custom_operations_format'] }}</td>
                            <td>{{ o['inputs'] }}</td>
                            <td>{{ o['outputs'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
    <div>
    </div>
</div>
{% endblock %}